<% if browser.mobile? || browser.tablet? %>
    <button class="btn btn-link btn-lg pull-right close-fl">&times;</button>
  <% end %>
<div class="filters">
  <%= search_form_for(@q, html: {class: 'form-inline'}) do |f| %>
    <%= render 'tutors/search/subjects', f: f %>
    <%= render 'tutors/search/price', f: f %>
  <% end %>
</div>