<p>
  Welcome to Pairbis, the best platform for finding your Ivy League tutor!
</p>
<p>
  Your account is set up now; you can <a href="<%= new_user_session_url %>">login here</a>.
</p>
<p>
  Start your lessons with three simple steps:
</p>
<ol>
  <li>
    1. Browse our list of Ivy League tutors and their available times
  </li>
  <li>
    Choose a time that works for you and request a lesson
  </li>
  <li>
    Now you are all set! Make sure to be online at least 10 minutes before the lesson
  </li>
</ol>
<p>
  If you have any questions, feel free to email us at
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>.
</p>
<p>
  Pairbis Customer Support Team
</p>
