<p>
  Welcome to Pairbis! We will help you find your Ivy League tutor!
</p>
<p>
  Your account is set up now. You can <a href="<%= new_user_session_url %>">login here</a>.
</p>
<p>
  Start your lessons with two simple steps:
</p>
<ol>
  <li>
    Browse our list of Ivy League tutors and their available times.
  </li>
  <li>
    Once you find your tutor, choose a time the tutor has listed and reserve a lesson online. Also, feel free to send a message to the tutor or send message to us for support!
  </li>
</ol>
<p>
  Feel free to email us any time at
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>. We will do our very best to find the best tutor for you.
</p>
<p>
  Pairbis Team
</p>
