<p>
  Welcome to Pairbis, the best platform for finding students.
</p>
<p>
  Your account is set up now; you can <a href="<%= new_user_session_url %>">login here</a>.
</p>
<p>
  Start your lessons with three simple steps:
</p>
<ol>
  <li>
    1. Complete your profile with a little bit about yourself. It should take you 2-3 minutes.
  </li>
  <li>
    2. Feel free to list a time that will definitely work for you, say, Nov. 25th 7-8pm. That way, you will get a lesson confirmed whenever a student chooses your time. Alternatively, just wait, and we will get in touch if a student has expressed interest in doing a lesson with you.
  </li>
  <li>
    3. If a student chooses your time slot, you are ready to go! You will get an email with the student's contact information. We will also send you a lesson guide a few days before your lesson, as your reference. Make sure to exchange Skype or Google Hangouts contact information a day in advance and be online at least 15 minutes before the lesson!
  </li>
</ol>
<p>
  If you have any questions, feel free to email us at
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>.
</p>
<p>
  Pairbis Customer Support Team
</p>
