<p>
  Welcome to Pairbis, the best platform for finding your Ivy League tutor!
</p>
<p>
  Your account is set up now; you can <a href="<%= new_user_session_url %>">login here</a>.
</p>
<p>
  Start your lessons with three simple steps:
</p>
<ol>
  <li>
    Browse our list of Ivy League tutors and their available times.
  </li>
  <li>
    Once you find your tutor, check whether the tutor has listed a time that works for you. If he/she has, you can simply reserve that time and your lesson is comfirmed. If the tutor hasn't listed a time, just send us an email at pairbis@gmail.com. We will get in touch with the tutor to ask whether you can schedule a lesson with him/her.
  </li>
  <li>
    Your tutor will send you a short message via Skype or Google Hangouts a day before the lesson. Please make sure to be online at least 10 minutes before the lesson. Enjoy your lesson!
  </li>
</ol>
<p>
  If you have any questions, feel free to email us at
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>.
</p>
<p>
  Pairbis Customer Support Team
</p>
