<p>
  Welcome to Pairbis, the best platform for finding students.
</p>
<p>
  Your account is set up now; you can <a href="<%= new_user_session_url %>">login here</a>.
</p>
<p>
  Start your lessons with three simple steps:
</p>
<ol>
  <li>
    Sign up as a tutor and create your own account. All you have to do is to spend 2-3 minutes to write a little bit about yourself. You can also set your own price.
  </li>
  <li>
    Choose a time that will definitely work for you, say, Nov. 25th 7-8pm, and list it under your profile. Your lesson will be comfirmed when a student chooses your time slot and you get a confirmation email. Alternatively, we may send you an email when a student has expressed interest in doing a lesson and set up a time with you.
  </li>
  <li>
    Send your student a short message by Skype or Google Hangouts a day before the lesson. Find a quiet place and sign into Skype at least 15 minutes before the lesson.
  </li>
</ol>
<p>
  If you have any questions, feel free to email us at
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>.
</p>
<p>
  Pairbis Customer Support Team
</p>
