<p>
  Welcome to Pairbis! We are a tutoring marketplace startup founded by Harvard Business School students.
</p>
<p>
  Your account is set up now. Tou can <a href="<%= new_user_session_url %>">login here</a>.
</p>
<p>
  Start your lessons with two simple steps:
</p>
<ol>
  <li>
    Spend 2-3 minutes to write a little bit about yourself. You can also set your own price!
  </li>
  <li>
    List an available time under your profile. Your lesson will be comfirmed when a student chooses your time slot. We will also email you when a student has expressed interest in doing a lesson with you.
  </li>
</ol>
<p>
  If you have any questions, feel free to email us at
  <a href="mailto:pairbis@gmail.com">pairbis@gmail.com</a>.
</p>
<p>
  Pairbis Team
</p>
