<p id="notice"><%= notice %></p>

<p>
  <strong>Format:</strong>
  <%= @tutor_profile.format %>
</p>

<%= link_to 'Edit', edit_tutor_profile_path(@tutor_profile) %> |
<%= link_to 'Back', tutor_profiles_path %>
