<header class="how-it-works-banner">
	<h1 class="text-center c0392b">ビジネス・ディスカッション英会話</h1>
</header>

<body>  
    <section class="bg-white">
		<div class="row">
			<div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <br>
                    <h3>目的に合わせてレッスンを選ぶ</h3>
                    <h5>レッスンは全てハーバードの先生とのマンツーマン・ディスカッション形式。</h5>
                    <h5>ハーバード・ビジネス・スクールの教材をベースに作られた交渉コースと、</h5>
                    <h5>コンサルティング・ファーム面接に使われるケースを用いたケース・コースをご用意しておりますので、</h5>
                    <h5>ご自分のご関心のあるコースを選んで、実践的なビジネス英会話を学んでいただけます。</h5>	
                </center>
            </div>
			<div class="col-md-2">
			</div>
        </div>
        <br>
        <br>
    </section>

    <section class="bg-gray" id="1">
        <br>
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <%= image_tag 'Business.jpg', height: "168", :title => '交渉' %>
            </div>
             <div class="col-md-5">
                <h3>1. ビジネス交渉英会話</h3>
                <h5>英語にそもそも自信がないのに、海外のサプライヤーやクライアントとの</h5>
                <h5>議論や交渉をする必要がある・・・</h5>
                <h5>Pairbisでは、ハーバードビジネススクールのクラスをベースに、交渉の教材をご用意。</h5>
                <h5>海外の人との交渉の場を模擬体験していただけるので、</h5>
                <h5>英語のスキルを上げるのみならず、海外の人とビジネスをするスキルを身につけられます。</h5>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
    </section>

    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスン当たり60分</li>
                    <li>先生はハーバードの学生・卒業生</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>ハーバードビジネススクールの授業をベースに作られた交渉、ディスカッションコース</li>
                    <li>レッスン内容は各回完結型</li>
            </div>
            <div class="col-md-3">
                <h3>学べるスキル</h3>
                    <li>自分の考えを相手にしっかりと伝える能力</li>
                    <li>相手に言われたことを鵜呑みにすることなく、しっかりとファクトをつくむ能力</li>
                    <li>外国人ということで怖気づくことなく堂々と発言・議論する能力</li>
                    <li>短期的に物事を整理して、議論をリードする能力</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>現在海外赴任中で、クライアントやサプライヤーなどと英語で話す機会がある方</li>
                    <li>グローバル・ファームに勤務されており、他オフィスの人と英語でコミュニケーションする能力を養われたい方</li>
                    <li>海外の人と堂々としゃべるための練習をしたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>
 
    <section class="bg-white" id="2">
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                    <%= image_tag 'Business_English.png', height: "160", :title => 'ビジネス英会話レッスン' %>
            </div>
            <div class="col-md-5">
                <h3>2. ビジネスケース・ディスカッション英会話</h3>
                <h5>単語としてはビジネス用語をある程度勉強しているものの、</h5>
                <h5>会社の戦略を的確に英語で伝えるとなると難しい、と思っていらっしゃいませんか？</h5>
                <h5>ケース・ディスカッションコースでは、「マーケティング戦略をどのように考えればいいか」など、</h5>
                <h5>さまざまなビジネステーマにもとづいてディスカッションを行うので、</h5>
                <h5>ビジネス単語や表現はもちろんのこと、的確にビジネスコンセプトを英語で表現する能力を磨いていただけます。</h5>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスンは60分</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>Pairbis独自のケース・ディスカッション教材を使用</li>
                    <li>レッスン内容は各回完結型</li>
            </div>
            <div class="col-md-3">
                <h3>学べる内容</h3>
                    <li>ビジネスシーン・トピックに合わせたビジネス特有の語彙・表現</li>
                    <li>自分の意見や考えを論理的に、かつ効果的な構成で伝えるビジネス英会話力</li>
                    <li>実際のビジネス経験豊富な講師による実践的なフィードバック</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>ビジネスシーンにおいて自分の意見・考えをしっかりと伝える力を養いたい方</li>
                    <li>グローバル・ファームに勤務されており、他オフィスの人と英語でコミュニケーションする能力を養われたい方</li>
                    <li>MBA留学を予定しており、ディスカッションが中心の授業の準備されたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
    </section>

    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <h3>まずは無料相談・無料体験レッスンから！</h3>
                    <h5>24時間以内にご連絡差し上げます。</h5>
                </center>
                <%= render 'contact_form'  %>
            </div>
            <div class="col-md-2">
            </div>
        </div>
         <br>
    </section>
</body>