<header class="how-it-works-banner">
	<h1 class="text-center">ディスカッション英会話</h1>
</header>

<body>  
    <section class="bg-white">
		<div class="row">
			<div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <br>
                    <h3>目的に合わせてレッスンを選ぶ</h3>
                    <h5>レッスンは全てハーバードの先生とのディスカッション形式。</h5>
                    <h5>ビジネス・ケースや交渉から、NHKの「ハーバード白熱教室」でも取り上げられたマイケル・サンデル教授の</h5>
                    <h5>授業「Justice（正義）」まで、学ぶ目的・ニーズに合わせたレッスンをご用意しています。</h5>	
                    <h5>レッスンは30分または60分からお選びいただくことができ、30分$10～とお手頃な価格にて受講いただけます。</h5>
                </center>
            </div>
			<div class="col-md-2">
			</div>
        </div>
        <br>
        <br>
    </section>
 
    <section class="bg-gray" id="1">
        <br>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <center>
                    <%= image_tag 'Business_English.png', height: "160", :title => 'ビジネス英会話レッスン' %>
                </center>
            </div>
            <div class="col-md-6">
                <h3>1. ビジネス・ディスカッション</h3>
                <h5>「ビジネス英会話が学べる」といっても、英会話教室によっては</h5>
                <h5>まったくビジネス経験がない外国人が講師を務めることがあります。</h5>
                <h5>Pairbisでは、ビジネススクールに在籍中の講師も多く、</h5>
                <h5>ディスカッション・ケースやビジネス交渉のケースなどを用いて、</h5>
                <h5>さまざまなシーンに応じた本物のビジネス英会話を学ぶことができます。</h5>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </section>

    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスン30分または60分から選択可</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>Pairbis独自のビジネス英会話教材を使用</li>
                    <li>レッスン内容は各回完結型</li>
            </div>
            <div class="col-md-3">
                <h3>学べる内容</h3>
                    <li>ビジネスシーン・トピックに合わせたビジネス特有の語彙・表現</li>
                    <li>自分の意見や考えを論理的に、かつ効果的な構成で伝えるビジネス英会話力</li>
                    <li>実際のビジネス経験豊富な講師による実践的なフィードバック</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>ビジネスシーンにおいて自分の意見・考えをしっかりと伝える力を養いたい方</li>
                    <li>ミーティングなどでその場で英語で返答する力を身につけたい方</li>
                    <li>今後のキャリアのためにビジネスで必要な英語力を身につけたい方</li>
                    <li>ビジネススクール留学を予定しており、ディスカッションが中心の授業の準備されたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
    </section>

    <section class="bg-white" id="2">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
                <h3>2. ディスカッション　「Justice（正義）」</h3>
                <h5>あらかじめ準備すればなんとか英語を話せるけど、議論や会話の中で</h5>
                <h5>自分の意見が求められた途端、英語が出てこなくなることはありませんか？</h5>
                <h5>Pairbisでは、NHKの「ハーバード白熱教室」でも取り上げられた</h5>
                <h5>マイケル・サンデル教授の授業「Justice（正義）」のテーマを用いて、</h5>
                <h5>自分の意見や考えをより流暢に表現するスキルを身につけることができます。</h5>
            </div>
            <div class="col-md-3">
                <center>
                    <%= image_tag 'English_Discussion.jpg', height: "160", :title => 'ディスカッション英会話レッスン' %>
                </center>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスン30分または60分から選択可</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>マイケル・サンデル教授の名物講義「Justice（正義）」のテーマを中心に使用</li>
                    <li>レッスン内容は各回完結型</li>
            </div>
            <div class="col-md-3">
                <h3>学べる内容</h3>
                    <li>ディスカッション＆ディベートに使えるスピーキング力</li>
                    <li>英語のディスカッションに求められる論理的かつ効果的に伝えるための意見構成力</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>ディスカッションの基礎となる英語特有の意見の展開を身につけたい方</li>
                    <li>自分の意見や考えをより流暢に表現、伝達できるようになりたい方</li>
                    <li>様々な時事問題について話せるだけの語彙力・表現力を身につけたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
        <br>
        <hr></hr>
    </section>

 <!--    <section class="bg-gray" id="3">
    </section>

    <section class="bg-grey">
        <div class="row">
            <div class="col-md-2">
            </div>    
            <div class="col-md-3">
                <h3>レッスンの形式</h3>
                    <li>1レッスン30分または60分から選択可</li>
                    <li>SkypeまたはGoogle Hangoutを用いたオンラインレッスン</li>
                    <li>Pairbis独自の日常英会話教材を使用</li>
                    <li>レッスン内容は各回完結型</li>
            </div>
            <div class="col-md-3">
                <h3>学べる内容</h3>
                    <li>初心者レベルでも英語オンリーの授業を行うことで早くから英語で考えられる力</li>
                    <li>外国人と話をする際に必要な丁寧な表現やニュアンスを伝える表現</li>
                    <li>旅行先や留学先に起こるシーン別で使える日常英会話</li>
            </div> 
            <div class="col-md-3">
                <h3>こんな方にオススメ！</h3>
                    <li>中学生・高校生の方</li>
                    <li>実際に使える英語を学びたい方</li>
                    <li>留学準備をされたい方</li>
                    <li>海外旅行先で英語が使えるようになりたい方</li>
            </div> 
            <div class="col-md-1">
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>-->

        <section class="bg-white">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <h3>受講者の声</h3>
                    <%= image_tag 'Review1.jpg', height: "180", :title => '受講者の声' %>
                    <h5>オンラインでのレッスンということで、最初はちょっと不安でしたが、実際にレッスンをやってみると</h5>
                    <h5>動画でお互いの顔を見ながらの会話だったので、とても話しやすかったです。</h5>
                    <h5>また、レッスンの中では教材の内容だけでなく、お互いの価値観や国民性についても</h5>
                    <h5>議論ができ、とても楽しく英語を学ぶことができました。</h5>
                    <h5>ディスカッション 「Justice（正義）」 コース受講</h5>
                    <h5>東京国立大学院生K.K.さん</h5>
                </center>
            </div>
            <div class="col-md-2">
            </div>
        </div>
         <br>
    </section>

    <section class="bg-gray">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <center>
                    <h3>まずは無料相談・無料体験レッスンから！</h3>
                    <h5>24時間以内にご連絡差し上げます。</h5>
                </center>
                <%= render 'contact_form'  %>
            </div>
            <div class="col-md-2">
            </div>
        </div>
         <br>
    </section>
</body>