
<center>
	<br>
	<br>
	<h4>無料相談・無料体験レッスンをお申込みいただきまして、ありがとうございました。</h4>
	<h4>Pairbisチームが24時間以内のご返信いたします。</h4>
	<br>
	<%= link_to root_path, class: "btn btn-primary btn-lg", data: { no_turbolink: true } do %>ホームに戻る
    <% end %> 
</center>