<body class="homepage">
    <section class="full-width height-two-thirds home-banner">
        <div class="text-center">
            <h1 class="homepage-description">Our professional coaches help you to lead your dream job</h1>
         </div>   
        </section>    
            
    <section class="flex bg-white">
        </br>
        </br>
        <div class="row">
            <h2 class="bottom-margin text-center">How it works</h2>
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="col-md-4">
                    <div class='text-center'>
                        <img src="find_your_coach.jpg" alt="FInd your coach" height: "100" width: "100">
                    </div>
                    <h3 class="text-center">Find your coach</h3>
                    <h4 class="text-center">Choose a coach of your choice</h4>
                </div>
                <div class="col-md-4">
                    <div class='text-center'>
                        <img src="set_a_lesson.jpg" alt="Set a lesson" height: "100" width: "100">
                    </div>
                    <h3 class="text-center">Set a lesson</h3>
                    <h4 class="text-center">Select a time that works for you</h4>
                </div>
                <div class="col-md-4">
                    <div class='text-center'>
                        <img src="get_career_advice.jpg" alt="Get career advice" height: "100" width: "100">
                    </div>
                    <h3 class="text-center">Get career advice</h3>
                    <h4 class="text-center">Talk with your coach online and ask your questions</h4>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
        </br>
        </br>
    </section>

    <section class="flex bg-gray">
        </br>
        </br>
        <div class="row">
          <h2 class="bottom-margin text-center">Our career coaches</h2>
          <br>
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="col-md-4">
              <div class='text-center'>
                <img src="Tom.jpg" alt="Tom" height: "50" width: "50">
              </div>
              <h3 class="text-center">Tom</h3>
              <h4 class="text-center">Goldman Sachs</h4>
            </div>
            <div class="col-md-4">
              <div class='text-center'>
                <img src="Sarah.jpg"alt="Sarah" height: "50" width: "50">
              </div>
              <h3 class="text-center">Sarah</h3>
              <h4 class="text-center">UBS</h4>
            </div>
            <div class="col-md-4">
              <div class='text-center'>
                <img src="Mike.jpg" alt="Mike" height: "50" width: "50">
              </div>
              <h3 class="text-center">Tom</h3>
              <h4 class="text-center">McKinsey</h4>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    </br>
      </br>
    </section>

    <section class="flex bg-white">
      </br>
      </br>
      <div class="row">
        <h2 class="bottom-margin text-center">Customer reviews</h2>
        <br>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <div class='text-center'>
            <img src="customer.jpg" alt="Customer 1" height: "100" width: "100">
          </div>
          <h3 class="text-center">"I was able to get inside perspectives about my top choice consulting firm."</h3>
          <h4 class="text-center">A senior at Harvard College</h4>
        </div>
        <div class="col-md-5">
          <div class='text-center'>
            <img src="customer.jpg" alt="Customer 2" height: "100" width: "100">
          </div>
          <h3 class="text-center">"This service allowed me to ace my investment banking interview!"</h3>
          <h4 class="text-center">A senior at UC Berkeley</h4>
        </div>
        <div class="col-md-1">
        </div>
      </div>
      </br>
      </br>
    </section>
    
    <section class="flex bg-gray">
      </br>
      </br>
      <div class='text-center'>  
        <h2>Contact us</h2>
        </br>
        <h3>Feel free to email us!</h3>
        <h3><a href="mailto:p2pcoaching@gmail.com" target="_top">p2pcoaching@gmail.com</a></h3>
      </div>
      </br>
      </br>
    </section>
  </body>
