<header class="how-it-works-banner">
	<h1 class="text-center">HOW IT WORKS</h1>
</header>
<section class="flex space-between flex-no-wrap bg-gray how-it-works">
	<div class="how-item for-students">
		<header>
			<h3>For Students</h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4>Find a Tutor </h4>
				<p>Browse our list of Ivy League tutors and their available times. </p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4>Request a Lesson </h4>
				<p> Once you find your tutor, choose a time that works for you and request a lesson. You pay one lesson at a time; no need for an upfront payment. You can cancel up to 12 hours before the lesson if necessary and get a full refund. </p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4>Enjoy Your Lesson </h4>
				<p> Your tutor will send you a short message via Skype or Google Hangouts a day before the lesson. Please make sure to be online at least 10 minutes before the lesson. Enjoy your lesson! </p>
			</div>
		</div>
		<% unless user_signed_in?  %>
			<div class="media text-center">
				<%= link_to "Sign Up as a Student now", new_registration_path('student'), class: 'btn btn-primary btn-lg' %>
			</div>
			<br>
		<% end %>
	</div>
	<div class="how-item for-tutors">
		<header>
			<h3>For Tutors</h3>
		</header>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					1
				</div>
			</div>
			<div class="media-body">
				<h4>Create Your Account </h4>
				<p>Sign up as a tutor and create your own account. All you have to do is to write a little bit about yourself and your qualification. You can also set your own price. </p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					2
				</div>
			</div>
			<div class="media-body">
				<h4>List Your Lessons </h4>
				<p> Choose a time that will definitely work for you, say, Nov. 25th 7-8pm, and list it under your profile. You will get an email if a student chooses your time slot. </p>
			</div>
		</div>
		<div class="media">
			<div class="pull-left">
				<div class="circle-num bg-gray">
					3
				</div>
			</div>
			<div class="media-body">
				<h4>Conduct Your Lesson </h4>
				<p> Send your student a short message by Skype or Google Hangouts at least a day before the lesson. Find a quiet place and sign into Skype at least 15 minutes before the lesson.</p>
			</div>
		</div>
		<% unless user_signed_in?  %>
			<div class="media text-center">
				<%= link_to "Sign Up as a Tutor now", new_registration_path('tutor'), class: 'btn btn-primary btn-lg' %>
			</div>
			<br>
		<% end %>
	</div>
</section>
