
<center>
	<br>
	<br>
	<h4><%=t :message_comfirmation_site1 %></h4>
	<h4><%=t :message_comfirmation_site2 %></h4>
	<br>
	<%= link_to root_path, class: "btn btn-primary btn-lg", data: { no_turbolink: true } do %><%=t :message_comfirmation_site3 %>
    <% end %> 
</center>