<header class="how-it-works-banner">
	<h1 class="text-center">留学の準備をしよう</h1>
</header>

<section>
	<div class="college-item for-college">
		<header>
			<h3 class=prepare-college>日本の高校からアメリカの大学に留学</h3>
		</header>
		<div class="media">
			<h4 class="prepare-college-h4">アメリカの大学のご紹介</h4>
			<p class="prepare-college-p">アイビーリーグ（Ivy League）とは、アメリカ東海岸にある8つの私立大学（ハーバード（Harvard）大学、イェール（Yale）大学、プリンストン（Princeton）大学、コロンビア（Columbia）大学、ブラウン（Brown）大学、ダートマス（Dartmouth）大学、コーネル（Cornell）大学、ペンシルべニア（Pennsylvania）大学）を指します。特に入学するのが難しい有名大学として知られています。</p>
			<p class="prepare-college-p">また、アイビーリーグには所属していない大学でも、スタンフォード（Stanford）大学、カリフォルニア工科大学（California Institute of Technology）、マサチューセッツ工科大学（Massachusetts Institute of Technology, MIT）を筆頭に、アメリカには素晴しい学校が多々存在します。</p>
			<p class="prepare-college-p">なお、以下の内容は、日本人としてアイビーリーグの大学を受験した時の経験に基づいて書いてありますが、アイビーリーグ以外の大学を受験される方もご参考にしていただけると思います。</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">留学資格・費用</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">専攻基準</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">英語試験（TOEFL）</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">				
			<h4 class="prepare-college-h4">テスト（SAT）</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">エッセイ</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">学校の成績・その他</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">留学のための準備・スケジュール</h4>
			<p class="prepare-college-p">XX</p>
		</div>
	</div>
</section>

<section>
	<div class="college-item for-college">
		<header>
			<h3 class=prepare-college>社会人としてアメリカのMBAに留学</h3>
		</header>
		<div class="media">
			<h4 class="prepare-college-h4">title 1</h4>
			<p class="prepare-college-p">paragraph 1</p>
		</div>
	</div>
</section>	

