<header class="how-it-works-banner">
	<h1 class="text-center">留学の準備をしよう</h1>
</header>

<section>
	<div class="row">
		<div class="col-md-6">
			<div class="prepare-top">
	     		<a  class="xx" href="#college">
    	 			<%= image_tag 'for-students.png', width: "200", height: "200" %> 
     			</a>
	    		<h3><a class="black" href="#college">日本の高校からアメリカの大学に留学</a></h3>
    		</div>
      	</div>
    	<div class="col-md-6">
    		<div class="prepare-top">
     			<a href="#mba">
     				<%= image_tag 'for-tutors.png', width: "200", height: "200" %> 
     			</a>
     			<h3><a class="black" href="#mba">大学生・社会人としてアメリカにMBA留学</a></h3>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="college-item for-college" id="college">
		<header>
			<h3 class=prepare-college>日本の高校からアメリカの大学に留学</h3>
		</header>
		<div class="media">
			<h4 class="prepare-college-h4">アメリカの大学のご紹介</h4>
			<p class="prepare-college-p">アイビーリーグ（Ivy League）とは、アメリカ東海岸にある8つの私立大学（ハーバード（Harvard）大学、イェール（Yale）大学、プリンストン（Princeton）大学、コロンビア（Columbia）大学、ブラウン（Brown）大学、ダートマス（Dartmouth）大学、コーネル（Cornell）大学、ペンシルべニア（Pennsylvania）大学）を指します。特に入学するのが難しい有名大学として知られています。</p>
			<p class="prepare-college-p">また、アイビーリーグには所属していない大学でも、スタンフォード（Stanford）大学、マサチューセッツ工科大学（Massachusetts Institute of Technology, MIT）、カリフォルニア工科大学（California Institute of Technology）を筆頭に、アメリカには素晴しい学校が数多く存在します。</p>
			<p class="prepare-college-p">なお、ここに記載されている留学情報は、日本人としてアイビーリーグの大学を受験した時の経験に基づいて書いてありますが、アイビーリーグ以外の大学を受験される方もご参考にしていただけると思います。</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">留学資格・費用</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">専攻基準</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">英語試験（TOEFL）</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">				
			<h4 class="prepare-college-h4">テスト（SAT）</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">エッセイ</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">学校の成績・その他</h4>
			<p class="prepare-college-p">XX</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">留学のための準備・スケジュール</h4>
			<p class="prepare-college-p">XX</p>
		</div>
	</div>
</section>

<section>
	<div class="college-item for-college" id="mba">
		<header>
			<h3 class=prepare-college>大学生・社会人としてアメリカにMBA留学</h3>
		</header>
		<div class="media">
			<h4 class="prepare-college-h4">title 1</h4>
			<p class="prepare-college-p">paragraph 1</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">title 2</h4>
			<p class="prepare-college-p">paragraph 2</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">title 3</h4>
			<p class="prepare-college-p">paragraph 3</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">title 4</h4>
			<p class="prepare-college-p">paragraph 4</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">title 5</h4>
			<p class="prepare-college-p">paragraph 5</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">title 6</h4>
			<p class="prepare-college-p">paragraph 6</p>
		</div>
		<div class="media">
			<h4 class="prepare-college-h4">title 7</h4>
			<p class="prepare-college-p">paragraph 7</p>
		</div>
	</div>
</section>	

