<h3>大学留学</h3>
<h4>アイビーリーグって何？</h4>
<p>アイビーリーグ（Ivy　League）とは、アメリカ東海岸にある8つの私立大学（ハーバード（Harvard）大学、イェール（Yale）大学、プリンストン（Princeton）大学、コロンビア（Columbia）大学、ブラウン（Brown）大学、ダートマス（Dartmouth）大学、コーネル（Cornell）大学、ペンシルべニア（Pennsylvania）大学）を指します。特に入学するのが難しい有名大学として知られています。また、アイビーリーグには所属していない大学でも、スタンフォード（Stanford）大学、カリフォルニア工科大学（California Institute of Technology）、マサチューセッツ工科大学（Massachusetts Institute of Technology, MIT）などの大学も有名です。</p>
<h4>誰が留学できるの？費用はどのくらいかかる？</h4>
<p>上記の大学は</p>
<h4>専攻基準</h4>
<h4>英語試験（TOEFL）</h4>
<h4>テスト（SAT）</h4>
<h4>エッセイ</h4>
<h4>学校の成績・その他実績</h4>
<h4>留学のための準備・スケジュール</h4>

<h3>経営大学院（MBA）留学準備</h3>