<div class="flex full-width full-height">
  <div class="centerblock">
    <div class="login">
			<h1>New Lesson</h1>
			<h5>Please add a new lesson below.</h5>
			<%= render 'form' %>
		</div>
	</div>
</div>
