// Home //
.home-item{
	flex: 0 1 33.3333333%;
}

.home-item h5{
	padding: 0px 36px;
	line-height: 1.5;
}

.home-banner{
	background: image-url('bg-homepage.png') bottom center;
	background-repeat:no-repeat;
	background-size: cover;
}

.home-banner h1{
	font-size: 2.5em;
}

.home-banner h1, .home-banner h4{
	margin-bottom: 16px;
}

.home-footer{
	width: 50%;
	padding: 36px;
}

// How it works //
.how-it-works-banner{
	background: image-url('bg-how-it-works.png') no-repeat bottom left;
	background-size: cover;
}

.how-item{
	background-color: white;
	width: 100%;
}

.how-item .media{
	padding: 12px 36px;
}

.how-item header h3{
	margin: 0;
	text-align: center;
	color: #fff;
}

.for-students header{
	background: image-url('for-students.png') no-repeat bottom left #34867c;
	background-size: 100px;
	padding: 30px 0px;
}

.for-tutors header{
	background: image-url('for-tutors.png') no-repeat bottom left #408b62;
	background-size: 100px;
	padding: 30px 0px;
}

.circle-num{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
	width: 70px;
	height: 70px;
	padding: 20px 0px;
	font-size: 20px;
	margin: 8px 0px;
}

.home-footer h4{
	line-height: 1.5;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
	.how-item .media .pull-left{
		float: none !important;
	}
	.how-item .media .pull-left > div, .how-item > img{
		margin: 0 auto;
		display: block;
	}
	.how-item .media h4, .how-item h3{
		text-align: center;
	}
	.how-item .media{
		padding: 36px 36px 0px 36px;
	}
	.how-item .media:last-child{
		padding-bottom: 36px;
	}
	.for-students header{
		background-size: 75px;
		padding: 30px 0px;
	}
	.for-tutors{
		margin-top: 36px;
	}
	.for-tutors header{
		background-size: 75px;
		padding: 30px 0px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
	.home-item{
		flex: 0;
		padding: 24px 0px;
	}
	.how-item, .home-footer{
		width: 100%;
	}
}



// Prepare //


.college-item{
	background-color: white;
	width: 100%;
}

.for-college header{
	background: #34867c;
	text-align: center;
	padding: 20px 0px;
	color: white;
}

.prepare-college {
	color:white;
}

.prepare-college-h4{
	padding: 0px 20px;
	color:black;
}

.prepare-college-p{
	padding: 0px 40px;
	color: gray;
}

.prepare-top{
	text-align: center;
	background: white;
	padding: 10px 20px;
	border-radius: 10px; 
}

.black{
	color: black;	
}

.black:hover{ 
  color: #34867c;
  transition: color 0.05s ease-in;
  text-decoration: none;
}

.button{ 
	text-align:center;
}

.english-h1{ 
    margin: 0 auto;
}

.h2-center{ 
    margin: 0 auto;
}

.free-lesson-center{
	margin: 0 auto;
}

.homepage-description{
	color: black;
}

.white{
	color:white;
	text-align: center;
}

.text-center{
	text-align:center;
}

.bottom-margin{
	margin-bottom:20px;
}