.tutors .tutor:first-child{
	margin-top: 12px;
}
.tutor{
	margin-bottom: 12px;
}
.tutor-info{
	width: calc(80% - 184px);
	background-color: white;
	font-size: 13px;
}
.tutor-info h3{
	margin-top: 0px;
	margin-bottom: 4px;
}
.tutor-info h3 a{
	font-size: 24px;
}
.tutor-info-inner{
	padding: 15px 18px;
}
.tutor .list-inline{
	margin-bottom: 4px;
}
.tutor .list-inline > li {
	padding-right: 8px;
	color: #777;
}
.tutor-info p{
	color: #444;
	font-size: 14px;
	margin: 12px 0;
}
.tutor-info h5{
	margin-bottom: 0;
}
.tutor-rate{
	width: calc(20% - 1px);
	background-color: white;
	border-left: 1px solid #f2f2f2;
	font-size: 18px;
  text-align: center;
}
.tutor-price{
	margin-top: 56px;
	color: #777777;
}
.tutor-header{
	padding-bottom: 24px;
}
.tutor-header h1{
	padding: 12px 0px !important;
}
.tutor-header.media .btn{
	margin-top: 24px;
}
.tutor-content > .flex{
	width: calc(100% / 4 - 16px);
	height: 150px;
	float: left;
	vertical-align: top;
}
.tutor-content figure{
	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}
.tutor-content .icon-wrapper{
	width: 80%;
	height: 80%;
}
.tutor-content figure img{
	display: block;
}
.tutor-content .tutor-icon{
	height: 100px;
}
.tutor-content .tutor-value{
	height: 50px;
	color: white;
}
.tutor .center-cropped {
  object-fit: cover;
  object-position: center;
  height: 184px;
  width: 184px;
}
.tutor .label-info{
	background-color: #999;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 12px;
}
.tutor .label-success{
	background-color: #8cb9a1;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 12px;
}
.tutor-star-rating, .review-rating{
  img{
    width: 18px;
  }
}
.bg-skype{
	background-color: #00ADEF;
}
.bg-gmail{
	background-color: #B2392F;
}
.bg-lang{
	background-color: #408B62;
}
.bg-paypal{
	background-color: #003087;
}

.tutor-mg{
  height: 100%;
  width: 300px;
  position: fixed;
  padding: 57px 0 0 0;
  top: 0px;
  right: 0px;
  background-color: #333;
  overflow: hidden;
  color: white;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
.tutor-mg input, .tutor-mg textarea, .tutor-mg select{
	background-color: #555;
	border-color: #555;
	color: white;
}
.tutor-mg-inner{
	padding: 15px;
}
.tutor-mg h3{
	color: #fff;
	font-size: 22px;
}
.tutor-mg p{
	color: white;
}
.tutor-mg .btn-primary{
	background-color: #db6f46;
	border-color: #db6f46;
}

.tutor-sw{
	margin-right: 300px;
	padding: 18px 20px;
}
.tutor-sw.wm{
	margin-right: 0px;
}
.tutor-sw-img img {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 150px;
}
.tutor-sw-info{
	padding: 12px 15px;
	color: #777;
}
.tutor-sw-info h2, .tutor-sw-info h3, .tutor-sw-info h4, .tutor-sw-info h5 {
	color: #555;
}
.tutor-sw-info h2{
	font-size: 22px;
	margin-bottom: 15px;
}
.tutor-sw-info h5{
	font-size: 16px;
	margin-top: 3px;
}
.tutor-sw .tutor-star-rating{
	margin-bottom: 12px;
}
.tutor-sw .tutor-sw-details{
	padding: 15px;
	background-color: #e8e8e8;
	color: #878787;
	margin-top: 15px;
	margin-bottom: 15px;
}
.tutor-sw-info li{
	font-size: 13px;
	margin-bottom: 12px;
}
.tutor-sw-info li i{
	color: #555;
	margin-right: 4px;
}
.review{
	padding: 15px 0px;
	border-bottom: 1px solid #eee;
}
.review h4{
	margin-top: 4px;
	margin-bottom: 15px;
}
.review .review-rating img{
	width: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.lm-sm{
		padding: 0 6px;
	}
	.tutor.flex{
		flex-direction: row;
	}
	.tutor-info{
		width: calc(100% - 52px);
		background-color: white;
		font-size: 13px;
	}
	.tutor-info-inner {
	  padding: 4px 6px;
	  position: relative;
	}
	.tutor-info h3 {
  	font-size: 14px;
  	margin-bottom: 0px;
	}
	.tutor-info h3 a {
  	font-size: 14px;
	}
	.tutor .list-inline > li, .tutor-info p {
	  font-size: 12px;
	}
	.tutors .tutor:first-child {
  	margin-top: 6px;
	}
	.tutor-img{
		margin-left: 6px;
	}
	#tutor_search_container{
		position: absolute;
		background-color: white;
		z-index: 60000;
		width: 100%;
		top: 0px;
		left: 0;
		height: 100%;
		box-sizing: border-box;
  	overflow: auto;
  	-webkit-transform: translate3d(0,0,0);
  	transform: translate3d(0,0,0);
  	-webkit-transition-duration: 400ms;
  	transition-duration: 400ms;
	}
	.tutor .center-cropped{
		width: 40px;
		height: 40px;
	}
	.tutor-info p {
	  margin: 6px 0 14px 0;
	}
	.tutor-info .label-info, .tutor-info .label-success{
		margin-bottom: 6px;
	}
	.tutor-rate{
		width: auto;
		border-left: none;
		font-size: 14px;
		text-align: right;
		position: absolute;
		top: 4px;
		right: 6px;
	}
	.tutor-info h5 {
	  margin-top: 0;
	  margin-bottom: 6px;
	}
	.tutor-star-rating{
		margin-bottom: 4px;
	}
	.tutor-star-rating img, .review-rating img {
  	width: 12px;
	}
	.tutor-mg{
		right: -300px;
	}
}