<div class="container-fluid">
  <br>
  <div class="row">
    <div class="center">

      <% subject_search_field = :subjects_name_in %>
      <% Subject.all.each do |subject| %>
        <div class="form-group">
          <label>
            <% checked = subject.name.in?(params.try(:[], :q).try(:[], subject_search_field) || []) %>
            <%= check_box_tag "q[#{subject_search_field}][]", subject.name, checked %>
            <%= subject.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
</div>
